* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --main-color:white;
    --big-font:2.5rem;
    --block-padding:3rem;
}

body {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    min-height: 100vh;
}

.bold {
    font-weight: bold;
}

h2, h3 {
    font-size: 1.3rem;
}

// Estilos generales

.main {
    max-width: 1200px;
    display:flex;
    margin:auto;
    padding:0 15px;
    flex-direction: column;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// Estilos del banner

.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.banner-title {
    font-size: var(--big-font);
}

.cta-banner {
    text-align: left;
}

.cta {
    display:flex;
    align-items: center;
    min-height: 500px;
}

.banner-description {
    padding:10px 0;
}

.banner-title {
    font-weight: normal;
    line-height: 1.2;
}

.cta-button {  
    border:none;
    color:var(--main-color);
    background: linear-gradient(to right, #0be40b, #008000);
    text-shadow: 0 .5px 3px #000;
    border-radius: 2px;
}

.cta-button:hover {
    background: linear-gradient(to left, rgb(11, 228, 11), green);
}

.cta-button a {
    text-decoration: none;
    color:var(--main-color);
    display:flex;
    align-items: center;
    padding-left: 15px;
}

.banner-container {
    width: 100%;
    background-image: url("/img/girl-smiling.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--main-color);
    background-position: center center;
    text-shadow: 1px 1px 3px #000;
    filter:brightness(95%);
}

.fa-whatsapp {
    padding:8px 15px;
    font-size: 1.6em;
}

// diseño de la seccion de compañia

.company-summary {
    text-align: center;
    padding:30px 0;
}

.summary-text {
    padding:15px 0;
}

.company-button {
    background-color:#4267B2;
    border:none;
    font-weight: bold;
    box-shadow: -2px -2px 5px -2px #17223a inset;
}

.company-button:hover {
    background-color: #3a5b9e;
}

.company-button a {
    text-decoration: none;
    color:var(--main-color);
    display:block;
    padding:10px 30px;
}

@media(max-width:1000px) {
    .wrapper {
        padding:0 20px;
    }
}

// Diseño de seccion servicios

[class^="service-"] {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:0 1 250px;
    margin:10px;
}

[class^="service-"] img {
    width: 100%;
    height: 170px;
}

[class^="service-"] img:hover {
    filter:brightness(90%);
}

.services-container {
    background-color: #014284;
    color:var(--main-color);
    padding:var(--block-padding);
}

.services {
    display:flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service_title {
    margin:10px 0;
}

.our-services {
    font-size: 1.6rem;
}

// Diseño del footer

.footer {
    padding:1.2rem;
    background-color: #014284;
    color:var(--main-color);
    text-align: center;
}

// Seccion testimonios

.testimonials-container {
    padding:var(--block-padding);
}

.testimonials {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-testimonials {
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials-title, .overview-title {
    margin:20px 0;
}

[class^="testimonial-box"] {
    padding:1rem;
    border:1px solid;
    height: 100%;
    margin: 0 15px;
    text-align: left;
}

[class^="testimonial-box"] a {
    color:rgb(54, 54, 214);
}

.testimonial-box-1 {
    margin-bottom: 15px;
}

.iframe {
    display: block;
}

.testimonial-paragraph {
    padding:5px 0;
}